div(class='view view-signup', style='display: none')
  form.zu-side-login-box(action="/register/email" method = "post" id="sign-form-1" autocomplete="off" novalidate="novalidate")
    .group-inputs
      div(class='name input-wrapper')
        input(required="" type="text" name="fullname" aria-label="姓名" placeholder="姓名")
        label(id="fullnameError" class="error") 请输入姓名
      div(class='email input-wrapper')
        input(required="" type="text" class="account" name="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱")
        label(id="accountError" class="error") 请输入手机号或邮箱
      .input-wrapper
        input(required="" type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）")
        label(id="passwordError" class="error") 请输入密码
    #summary.failure
      ul
    div(class='button-wrapper command')
      button(class="sign-button submit" type="submit") 注册