extends layout

block content
  //h1= title
  //p Welcome to #{title}
  .index-main
    .index-main-body
      .index-header
        h1.title='乐  高'
        h2.subtitle='图纸分享，搭建乐趣'

      .desk-front.SignFlow
        .index-tab-navs
          .navs-slider(data-active-index='1')
            a(href='#signup') 注册
            a(href='#signin') 登录
            span.navs-slider-bar

        include includes/signin.jade
        include includes/signup.jade
        
    .footer

  script(src='javascripts/main.js')



